@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body {
    background-color:#E5E5E5;
    display: block;
}

div {
    box-sizing: border-box;
}

.header {
    font-size: 8ch;
    color: #0B2239;
    text-align: center;
    font-family: Inter;
}

.banner1 {
    width: 1440px;
    height: 72px;
    display: flex;
    background-color: #0B2239;
}

 .p1 {
    width: 922px;
    height: 40px;
    color: #FFFFFF;
    display: inline-block;
    margin: 16px 0px 16px 120px;
}

.a1 {
    width: 120px;
    height: 20px;
    color: #4AD295;
    margin: 26px 0px 26px 42px;
    text-decoration-line: underline;
}
.button1 {
    width: 180px;
    height: 36px;
    color: #FFFFFF;
    display: inline-block;
    margin: 18px 120px 18px 30px;
    background-color: #4AD295;
}

.banner2 {
    width: 100%;
    height: 52px;
    display: flex;
    padding-top: 10px;
    text-align: center;
    background-color: #2B2627;
}

p2 {
    width: 689px;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    font-style: normal;
}

img {
    width: 16px;
    height: 16px;
    align-self: center;
}

.banner3 {
    width: 40%;
    height: 72px;
    display: flex;
    padding-top: 10px;
    text-align: center;
    background-color: #FFFFFF;
}

.banner4 {
    width: 40%;
    height: 62px;
    display: flex;
    color: #FFFFFF;
    padding-top: 10px;
    text-align: center;
    background-color: #26262B;
}

.banner5 {
    width: 30%;
    height: 206px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #0B2239;
}